<div class="container">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets/images/logo.png" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
      <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" shape="circle" (click)="menu.toggle($event)"></p-avatar>
      <p-tieredMenu #menu [model]="items2" [popup]="true"></p-tieredMenu>
    </ng-template>
  </p-menubar>
</div>

