<div class="container mt-2 w-full">
  <div class="flex justify-content-center align-items-center ">
    <div class="header">
      <p>Tipo "I" (Ingreso)</p>
    </div>
  </div>
  <div class="card">
    <div class="grid fluid">
      <div class="col-12 md:col-4">
        <div class="p-inputgroup ">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text"  class="p-inputtext" placeholder="Username">
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" class="p-inputtext"  placeholder="Username">
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" class="p-inputtext"  placeholder="Username">
        </div>
      </div>
    </div>
  </div>
</div>






